.feed-container {
	overflow: scroll;
	width: 50%;
}

.edit-profile {
	display: flex;
	flex-direction: row;
}

.tweed-title {
	color: #417e26ed;
	font-size: 26px;
	text-align: center;
	text-decoration: underline;
	text-shadow: 4px;
}

.feed {
	border-right: 1px solid var(--twitter-background);
	flex: 0.9;
	min-width: fit-content;
}

.tweetContainer {
	flex: 0.7 1;
	height: 100vh;
	overflow: scroll;
	position: sticky;
}
