.news-app {
	display: flex;
	justify-content: center;
}

.news-item {
	border: 1px solid;
	margin-bottom: 20px;
	padding: 20px;
	width: 100%;
}

.news-img {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.news-item,
	.news-app,
	.news-img {
		height: 100%;
		object-fit: cover;
		width: 100%;
		/*  */
	}
}
