.tweetBox {
  background-color: white;
  border-bottom: 8px solid var(--twitter-background);
  padding: 30px 30px 15px 30px;
}

.form {
  height: 100px;
  margin: 0 auto;
}

.tweetBox-input > textarea {
  border: none;
  flex: 1;
  font-size: 20px;
  margin: 0px;
  outline: none;
  resize: none;
  width: 100%;
}

.submitButton{
  background-color: var(--money-color) !important;
  border-radius: 30px !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
}

.tweetBox .feed_tweet_BTN {
  background-color: var(--money-color) !important;
  border-radius: 30px !important;
  border: none !important;
  color: white !important;
  display: inline-flexbox;
  font-weight: 900 !important;
  height: 40px;
  margin-left: auto;
  position: initial;
  text-transform: inherit !important;
  width: 80px !important;
}

.tweetBox-inputImage {
  border: none;
  padding: 10px;
}
